// Colors

$offBlack: #20222b;
$offWhite: #a5afd7;
$darkBlue: #212d53;
$blue: #2a3655;
$light-blue: #394266;
$purple: #8357c5;

//Spacing

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;